/*Add Location button*/
.locationBtn{
    transition: all 0.3s ease-in-out;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    position: absolute;
    left: 3%;
    top: 80%;

    /*margin-top: 128px;*/
    /*margin-left: 85%;*/
    z-index: 10;
    background-color: #0089CE;
    width: 200px;
    height: 50px;
}


.modal-button{
    background-color: #0089CE;

}


/*Pop up*/
.bg-modal{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 1;
    display: none;
    color: #0089CE;


}

.modal-content{
    margin-top: 42%;
    width:500px;
    height:350px;
    background-color: white;
    border-radius: 4px;
    z-index: 2;
    text-align: center;
    padding: 25px;
    position: relative;
}

.modal-input{
    width:50%;
    display:block;
    margin:10px auto;
    padding: 5px;
}

.close{
    position: absolute;
    top:0;
    right:14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .locationBtn{
        transition: all 0.3s ease-in-out;
        font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
        position: absolute;
        left: 3%;
        top: 75%;



}