* {
    transition: all 0.3s ease-in-out;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}


/*Navigation bar*/

.nav-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 125px;
    background: black;
    clear: both;
}

nav {
    float: right;
}

.logo img {
    float: left;
    position: absolute;
    margin: 12.5px;
    height: 75%;
}


.form-search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid black;
    padding: 5px;
}

.search-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #0089CE;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.form-search:hover{
    width: 350px;
    cursor: pointer;
}

.form-search:hover input{
    display: block;
}

.form-searchform:hover .fa{
    background: #0089CE;
    color: white;
}

ul li {
    color: #0089CE;
    display: inline-block;
    padding: 33px 35px 33px 35px;
    /*border: 2px solid white;*/
    font-size: 25px;
}


ul li:hover {
    color: white;
}
/*End Navigation bar*/


/*Add Locatin button*/
.locButton{
  position: absolute;
  margin-top: 128px;
  margin-left: 85%;
  z-index: 10;
}

/*Map styling*/

#map{
    display: block;
    height: 600%;
    width: 100%;
    z-index: -1;
}


/*footer */

.footer {
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #0089CE;
    background: black;
    height: 90px;
    width:100%;
    position:fixed;
    bottom:0;
}

.bottom-content {
  margin-top: 5px;
    font-size: 18px;
  margin-bottom: 4px;

}


a {
    text-decoration: none;
    color: #0089CE;
}


/*a tag in the footer tag*/
a:hover {
    color: orange;
}

.github-icon {
    height: 19px;
    width: 1.8rem;
    color: #0089CE;
}

.loyola{
  margin-top: 0px;
  font-size: 10px;
  color:grey;
  font-family: sans-serif;
}

.sentence{

  margin-bottom: 12px;
  margin-left: 10px;
  font-size: 13px;
  display: inline-block;
  padding:0;
}

.searchBar{
  position: absolute;
  margin-left: 460px;
  margin-top: 65px;
}
/*end of footer */

/*Pop up*/
.bg-modal{
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 1;
  display: none;

}

.modal-content{
  margin-top: 42%;
  width:500px;
  height:300px;
  background-color: white;
  border-radius: 4px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  position: relative;
}

.modal-input{
  width:50%;
  display:block;
  margin:7px auto;
}

.close{
  position: absolute;
  top:0;
  right:14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}
