* {
    transition: all 0.3s ease-in-out;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}


/*Navigation bar*/

.nav-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 125px;
    background: black;
    clear: both;
}

nav {
    float: right;
}

.logo img {
    float: left;
    position: absolute;
    margin: 12.5px;
    height: 75%;
}


form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid black;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #0089CE;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 350px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #0089CE;
    color: white;
}

ul li {
    color: #0089CE;
    display: inline-block;
    padding: 33px 35px 33px 35px;
    /*border: 2px solid white;*/
    font-size: 25px;
}


ul li:hover {
    color: orange;
}
/*End Navigation bar*/


/*Map styling*/

#map{
    display: block;
    height: 600%;
    width: 100%;
}


/*footer */


footer {
    position: sticky;
    text-align: center;
    color: #0089CE;
    background: black;
    height: 90px;
}

.bottom-content {
    padding-top: 25px;
}

a {

    text-decoration: none;
    color: #0089CE;

}


/*a tag in the footer tag*/
a:hover {
    color: orange;
}

.github-icon {
    width: 2rem;
    color: #0089CE;
}



/*end of footer */


