




.card{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 320px;
    height: auto;
    padding: 20px;
    border: 1px solid #0089ce;
    border-radius: 5px;
    
}
.h2{
    text-align: center;
    color: #0089ce;
   
}

.action-btn{
    background-color: #000000;
    color: red; 
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    height: 20px; 

}
.card-row{
    display: flex;
    justify-content: space-between;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding : 2px 16px;
}