* {
    transition: all 0.3s ease-in-out;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

/*Map styling*/

#map{
    position: relative;
    top: 120px;
    display: block;
    height: 77vh;
    width: 100%;
    z-index: -1;
}

@media screen and (max-width: 600px) {

    #map{
        top: 100px;
        width: 95%;
    }
}

