.content{
    text-align: center;

}

.info-img{
    height: auto;
    width: 200px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.info-link:hover{
    transition: .5s;
    color: lightsteelblue;
}

.firstHeading{
    color:#0089CE;
}

@media screen and (max-width: 600px) {

    .firstHeading{
        font-size: 20px;
    }
    .info-img{
        width: 80%;
    }
    .content{
        width: 650px;
        height: 500px;
    }
}


.like-section{
    width: 100%;
    height: 40px;
    background-color: #0089CE;
    border-radius: 5px;
    align-content: center;

}

.svg-btns{
    position: relative;
    top: 8px;
    color: whitesmoke;;
    font-size: 20px;
    padding: 0px 20px;
}

.svg-btns:hover{
    color: black;
}

