.nav-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 125px;
    background: black;
    clear: both;
    z-index: 1;
    
}

.deck-name{ 
    margin-top: 0px;
    color:#0089CE;
    text-align: center;
    padding: 0;
    

}

.location-deck{
    text-align: center;
    background-color:black;
}

.loc-name{
    z-index: -2;
    position:static;
    display:inline-block;
    background-color: #0089CE;
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    color:aliceblue
}

.loc-category{
    display: inline-block;
    position: relative;
    margin-top: 20px;
    color:aliceblue;
}





