.nav-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 125px;
    background: black;
    clear: both;
    z-index: 1;
    
}

.deck-name{ 
    margin-top: 0px;
    color:#0089CE;
    text-align: center;
    padding: 0;
    

}

.location-deck{
    margin-top: 0px;
    z-index: 0;
}

.loc-name{
    z-index: -2;
    position:relative;
}




