
/*Navigation bar*/

.nav-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 125px;
    background: black;
    clear: both;
}

.logo img {
    float: left;
    position: absolute;
    margin: 12.5px;
    height: 75%;
}


.form-search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid black;
    padding: 5px;
}

.search-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #0089CE;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.form-search:hover{
    width: 350px;
    cursor: pointer;
}

.form-search:hover input{
    display: block;
}

.form-searchform:hover .fa{
    background: #0089CE;
    color: white;
}



nav {
    position: absolute;
    height: 125px;
    /*border:3px solid #0089CE;*/
    right: 0px;


}

.nav-items{
    padding: 40px 15px;
    /*border: 3px solid blue;*/
    text-align: center;
}

ul li {
    color: #0089CE;
    display: inline-block;

    /*padding: 33px 35px 33px 35px;*/
    /*border: 2px solid white;*/
    font-size: 25px;
}


ul li:hover {
    color: white;
}


/*gets rid of of the link underline*/
a:hover{
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    .nav-container {
        height: 100px;
    }
    .logo img {

        height: 40%;
        margin: 30px 30px 30px 12px;
    }
    .nav-items{
        /*visibility: hidden;*/
        font-size: 10px;
        padding: 45px 8px;
    }
    .form-search{
        visibility: hidden;
    }

}



